<form>
<h3><i>Book</i></h3>


  <div class="form-group">
    <label for="inputname">Title: </label>
    <input type="text" class="form-control" id="inputtitle" placeholder="" ng-model="book.title" /> 
  </div>
  <div class="form-group">
    <label for="inputnationality">Description:</label>
    <textarea class="form-control" id="inputdescription" placeholder="" ng-model="book.description" style="height:150px;"></textarea>
  </div>
  <div class="form-group">
    <label for="inputnationality">Author: </label>
   <select class="form-control" name="author" id="repeatSelect" ng-model="book.author_id">
      <option ng-repeat="option in authors" ng-selected="option.id == book.author_id" value="{{option.id}}">{{option.name}}</option>
    </select>
  </div>
  <div class="form-group">
        <label>Image: </label>
        <input  onchange="angular.element(this).scope().encodeBase64(this)" id="input-1" type="file" class="file">
  </div>
  <input type="hidden" ng-model="book.id">
  <button ng-click="save(book)" class="btn btn-success"><i class="fa fa-floppy-o"></i> Save</button>
</form>